@keyframes fade {
    0% { 
        opacity: 0;
        transform: translateY(-10px);
    }
    100% { 
        opacity: 1; 
        transform: translateY(0px);
    }
}

.fade {
    animation-duration: 0.5s;
    animation-name: fade;
    animation-fill-mode: backwards;
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0%, 92%, 100% {
        transform: scaleY(1);
    }
    96% {
        transform: scaleY(0.1);
    }
}


  