@import './palette.scss';
@import './typog.scss';

/** BASE **/

html, body {
    height: 100vh;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
  
.pill {
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    background: $secondary;
    color: $primaryDark;
    padding: 0.25rem 0.5rem;
}

.arrow-right {
    position: absolute;
    z-index: 11;
    left: 0;
    top: 45%;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid $accent;
}