@import './palette.scss';
@import './typog.scss';

/** BASE **/

html, body {
    height: 150vh;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 { color: var(--primaryDark) };
  
/** FORMS **/
button {
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    filter: saturate(1);
    transition: all 0.3s;
    font-family: $fancyFont;
    color: var(--primary);
    border: 2px solid var(--color3);
    background-color: white;

    &:hover {
        cursor: pointer;
        filter: saturate(2);
        border-color: var(--primaryDark);
    }

    &.active {
        color: var(--accent);
        border-color: var(--accent);
    }
}


/** UI COMPONENTS **/
.pill {
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    background: var(--secondary);
    color: var(--primaryDark);
    padding: 0.25rem 0.5rem;
    transition: all 0.4s;
}

.arrow-right {
    position: absolute;
    z-index: 11;
    left: 0;
    top: 45%;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--accent);
}