@import './palette.scss';
@import './typog.scss';

/** BASE **/

html, body {
    height: 100vh;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
  
.pill {
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    background: white;
    color: black;
    padding: 0.25rem 0.5rem;
  }