$colora1: #1A535C;
$colora2: #4ECDC4;
$colora3: #F7FFF7;
$colora4: #e9722c;
$colora5: #FFE66D;
$colora6: #0B2B31;

$colorb1: #141520;
$colorb2: #2B2D42;
$colorb3: #EDF2F4;
$colorb4: #8D99AE;
$colorb5: #EF233C;
$colorb6: #F3E75C;

$colorc1: #00B140;
$colorc2: #000000;
$colorc3: #80D8A0;
$colorc4: #ee9229;
$colorc5: #7A491F;
$colorc6: #005920;

.app-stage {
    &.coding {
        --primary: #{$colora1};
        --primaryDark: #{$colora6};
        --accent: #{$colora4};
        --secondary: #{$colora2};
        --tertiary: #{$colora1};
        --color1: #{$colora1};
        --color2: #{$colora2};
        --color3: #{$colora3};
        --color4: #{$colora4};
        --color5: #{$colora5};
        --color6: #{$colora6};
    }

    &.sci-fi {
        --primary: #{$colorb1};
        --primaryDark: #{$colorb1};
        --accent: #{$colorb5};
        --secondary: #{$colorb2};
        --tertiary: #{$colorb6};
        --color1: #{$colorb1};
        --color2: #{$colorb2};
        --color3: #{$colorb3};
        --color4: #{$colorb4};
        --color5: #{$colorb5};
        --color6: #{$colorb6};
    }

    &.futbol {
        --primary: #{$colorc1};
        --primaryDark: #{$colorc6};
        --accent: #{$colorc6};
        --secondary: #{$colorc2};
        --tertiary: #{$colorc1};
        --color1: #{$colorc1};
        --color2: #{$colorc2};
        --color3: #{$colorc3};
        --color4: #{$colorc4};
        --color5: #{$colorc5};
        --color6: #{$colorc6};
    }
}