:root {
    --color1: #3d5a80;
    --color2: #98c1d9;
    --color3: #e0fbfc;
    --color4: #ee6c4d;
    --color5: #293241;
    --color6: #142741;

    --primary: var(--color1);
    --primaryDark: var(--color6);
    --secondary: var(--color2);
    --accent: var(--color4);
}

